.container {
  background-color: white;
  border: none;
  border-radius: 1rem;
  box-shadow: 10px 10px 52px 0 rgba(0, 0, 0, 0.09);
  font-size: 1rem;
  min-height: 10rem;
  padding: 1rem;
  resize: none;
  tab-size: 4;
  width: 100%;
}

.container:focus {
  outline: none;
}

.container::placeholder {
  color: var(--color-foreground);
}
